.App {
  text-align: center;
  /* background-color: lightgrey; */
  height: 100%; 
  background-image: url(C:\Users\rohit.pai\REACTJS\shopping-app\src\components\Background-Image.jfif);
  background-repeat:   no-repeat;
  background-size:cover;
}

.searchbardiv{
  z-index: 999;
}

.productimage{
  height: 20px;
}

.cartpage{
  /* background-color: lightgrey; */
  min-height: 50rem;
  /* height: 100rem; */
  background-image: url(C:\Users\rohit.pai\REACTJS\shopping-app\src\components\Background-Image.jfif);
  background-repeat:   no-repeat;
  background-size:cover;
}

.row{
  height : 30rem;
  /* padding: 5px; */
}

.cardclass{
  /* width : 18rem; */
  padding-right: 5rem;
}

.cardimg{
  padding-top: 10px;
  height: 15rem;
}

.productimgdiv{
  display : inline-block;
  width : 25%;
}

.productinfodiv{
  display : inline-block;
  /* float : right; */
}

.productpricediv{
  display: inline-block;
  width : 10%;
  float: right;
  text-align: right;
  
}

.cartdiv{

  /* float : left; */
  text-align: left;
  display : inline-block;
  background-color: white;
  width : 65%;
  margin: 20px;
  padding: 10px;
}

.subtotaldiv{

  display : inline-block;
  background-color: rgb(230, 81, 81);
  width : 25%;
  margin: 20px;
  padding: 10px;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

